# Telegram Bot Token
BOT_TOKEN=8684522994:AAE4XGq-xBffEwJ6y9QQnNQtydTB0orLDvI

# Файл базы данных
DB_FILE=database.json

# Файл рационов
MEALS_FILE=meals.json

# ключ 
OPENAI_API_KEYsk-svcacct-u9flvu1kdrAxFfgYLe5NWWsCvZt803xlss5mfTUrqSMaJO740y4Ssr7RGTcl4Uu7pR3dDZQH1PT3BlbkFJy1Sm0U2JWjYPoDRznTCj2vffHdg9CVbXLGOHkqCMFVXe027CipteIwx3BeKmr5u-cnbmPVdCQA